{% extends '_blank.html' %}
{% load static qux quxform %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/qux/select2.css' %}">
{% endblock stylesheets %}

{% block customstyle %}
{{ block.super }}
<style>
  h3 {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .plan_selected {
    background:#00ffb6;
    border:1px solid #00ffb6;
  }
  .plan_selected .list-group-item {
    background:#00ffb6 !important
  }
  .card:hover .btn-outline-dark {
    color:white;
    background:#212529;
  }
  .card {
      border-radius: 8px;
      /* border: 0; */
      border-width:5px;
      border-style:solid;
  }
  .card-body {
      padding: 2rem;
      border: none;
  }
  .card-extra .card-body {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .card-extra .card-title {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  /* .table {
    font-size: 0.875rem;
  } */
  .table thead th {
    border-top: 0;
    border-bottom: 0;
  }
  .table-extra tr {
      padding: 0 0.25rem;
      margin-top: 0;
  }
  .table-extra td, .table-extra th {
      padding: 0.125rem;
  }
  table.checkout_table th, table.checkout_table td {
    vertical-align: middle;
  }
  .choose_plan div{
    cursor: pointer;
  }
  .cursor-pointer {
    cursor: pointer;
    padding: 0.25rem;
  }
  .fa-minus.cursor-pointer:hover {
    background-color: #ff253a;
    color: #ffffff;
    border-radius: 50%;
  }
  .fa-plus.cursor-pointer:hover {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 50%;
  }
  .quantity, .currency {
    text-align: right;
  }
  .disabled-effect {
    /* pointer-events: none; */
    opacity: 0.4;
  }
  .currency_sum, .bold {
    font-weight: bold;
  }
  .step_2_title {
    padding-top: 3rem;
  }
</style>
{% endblock customstyle %}


{% block rawcontent %}
  {{ block.super }}

  <div class="container-md">
    <div class="form-container p-md-4">
      <h1 class="py-4">
        {{ form_title }}
      </h1>

      {% if messages %}
          <div class="row">
            <div class="col">
              {% for m in messages %}
                <p class="lead">{{ m }}</p>
              {% endfor %}
            </div>
          </div>
      {% endif %}

      <form method="post" id="form">
      {% csrf_token %}
        <h3>Step 1: Choose your plan</h3>

        <div class="row choose_plan">
          {% for plan in products.plan %}
          <div class="col-lg-4 col-md-12 my-2 {% if plan.id in disabled_plan_products %}disabled-effect{% endif %}">
            <div class="card h-100 plan_{{ plan.id }}"
                 onclick="plan_click({{ plan.id }})"
                 data-id="{{ plan.id }}"
                 data-description="{{ plan.description }}"
                 data-amount="{{ plan.amount }}">

              <div class="card-body">
                <div class="card-title">{{ plan.description }}</div>
                <span class="font-weight-bold">${{ plan.amount|qux_floatformat_in:0 }}</span> per
                {% if plan.monthly_validity == 12 %}year
                {% elif plan.monthly_validity == 1 %}month
                {% else %}{{ plan.monthly_validity }}month
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <h3 class="step_2_title">Step 2: Checkout and Make Payment</h3>

        <div>
          <table class="table table-sm checkout_table my-3" style="table-layout: fixed; vertical-align: middle;">
            <thead class="thead-light">
            <tr>
              <th scope="col">ITEM</th>
              <th scope="col" class="text-right">QTY</th>
              <th scope="col" class="text-right">AMOUNT</th>
            </tr>
            </thead>

            <tbody>
            <tr class='for_plan'>
              <td>Product (<span class="product_name"></span>)</td>
              <td class='text-right'>
                <label for="qty" class="d-none">Quantity</label>
                <input type="number" id="qty" name="qty"
                       class="form-control ml-auto item_added_qty quantity"
                       style="max-width: 6em;"
                       min="1" value="1" onchange="change_plan_qty(value)">
              </td>
              <td class='item_amount currency'>-</td>
            </tr>

            </tbody>
          </table>

          <!-- <div class="row my-1">
            <div class="col-6 offset-md-7 col-md-3">Total</div>
            <div class="col-6 col-md-2 currency">
              <span id="total" class="total currency_sum" style="padding-right: 0.3em;">-</span>
            </div>
          </div> -->

          <!-- <div class="row my-1">
            <div class="col-6 offset-md-7 col-md-3">GST (18%)</div>
            <div class="col-6 col-md-2 currency">
              <span id="gst" class="gst currency_sum" style="padding-right: 0.3em;">-</span>
            </div>
          </div> -->

          <div class="row my-3">
            <div class="col-8 text-left">
              <span class="px-1">Total</span>
            </div>
            <div class="col-4 text-right font-weight-bolder">
              <span class='currency total currency_sum px-1'>-</span>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-8 text-left">
              <span class="px-1">Balance Due</span>
            </div>
            <div class="col-4 text-right currency">
              <span id="balance_due" class="balance_due currency_sum px-1">-</span>
            </div>
          </div>
        </div>

        {% if not cart or cart.is_open %}
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <button type="submit" class="btn btn-primary btn-block py-2" name="submit" value="submit">
                {% if submit_btn_text %}
                  {{ submit_btn_text }}
                {% else %}
                  Submit
                {% endif %}
              </button>
            </div>

            <div class="col-12 col-md-6 my-4 my-md-0">
              <button type="submit" class="btn btn-primary btn-block py-2" name="submit" value="payment">
                Save + Pay
              </button>
            </div>
          </div>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock rawcontent %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/qux/payments/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/qux/payments/cart.js' %}"></script>
{% endblock %}

{% block customjs %}
  <script type="text/javascript">

    let disabled_plan_products = {{ disabled_plan_products|safe }};

    let cart_initial = {{ initial|safe }};
    cart_initial = cart_initial ? cart_initial : null;

    let qty, fn;
    for (let cat in cart_initial) {
      for (let id in cart_initial[cat]) {
        qty = cart_initial[cat][id]['qty'];
        fn = window[cat + '_click'];
        fn(id, 'add', qty);
      }
    }

  </script>
{% endblock %}
