{% extends 'forms/_form.html' %}
{% load static qux quxform %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/qux/select2.css' %}">
{% endblock stylesheets %}

{% block customstyle %}
  {{ block.super }}
  <style>
  #form-container {
    max-width: none;
  }
  .add-row {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  .delete-row {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
{% endblock customstyle %}

{% block form_title %}{{ form_title }}{% endblock %}

{% block form_body %}
{% if messages %}
    <div class="row">
      <div class="col">
        {% for m in messages %}
          <p class="lead">{{ m }}</p>
        {% endfor %}
      </div>
    </div>
{% endif %}

{% if submit_btn_text == 'Update' and not object %}
  <legend>Your cart is Empty</legend>
{% else %}
<form method="post">
  {% csrf_token %}

    {% include 'forms/_hfields.html' %}

    <br>
    <legend>Products</legend>
    <table class="table">
        {{ items.management_form }}

        {% for form in items.forms %}

            {% if forloop.first %}
                <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ items.prefix }}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="form-group row">
      <div class="col-12 col-sm-8 col-form-label"></div>
      <div class="col-12 col-sm-4 align-self-center">
        <b>Total Amount:</b>
        <span class="total_amount" id="total_amount"></span>
      </div>
    </div>

    {% if not object or object.is_open %}
        <div class="row mt-4">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block py-2">
            {% if submit_btn_text %}
               {{ submit_btn_text }}
            {% else %}
               Submit
            {% endif %}
          </button>
        </div>
        </div>

        {% if submit_btn_text == 'Update' %}
        <div class="row mt-4">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block py-2" name="payment_url">
            Update and Pay
          </button>
        </div>
        </div>
        {% endif %}
    {% endif %}
</form>
{% endif %}
{% endblock form_body %}


{% block javascript %}
{{ block.super }}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function () {
        // $('#id_customer').select2(); // without ajax

        $('#id_customer').select2({
            ajax: {
                url: '{% url 'customer:customer-autocomplete' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.name};
                        })
                    };
                }
            },
            minimumInputLength: 1
        });
    });

    $('document').ready(function () {
        $('.formset_row-{{ items.prefix }}').formset({
            addText: 'Add',
            deleteText: 'Remove',
            prefix: '{{ items.prefix }}'
        });

        $('.delete-row').click(function () {
            change_total_amount();
        });

        change_total_amount();

    });

    function change_total_amount(){
        var sum = 0;
        $("input[name^='items-'][name$='-unit_price']").each(function() {
            var is_visible = $(this).closest("tr").is(":visible");
            if(is_visible == true){
                var qty_att = $(this).closest("tr").find("input[name^='items-'][name$='-qty']")
                let qty = qty_att.val();
                if (qty == '') {
                  qty = 1;
                  qty_att.val(qty);
                }
                sum += ( Number($(this).val()) * Number(qty) );
            }
        });
        $("input[name^='items-'][name$='-unit_gst']").each(function() {
            var is_visible = $(this).closest("tr").is(":visible");
            if(is_visible == true){
                let qty = $(this).closest("tr").find("input[name^='items-'][name$='-qty']").val();

                sum += ( Number($(this).val()) * Number(qty) );
            }
        });
        $("#total_amount").html(sum);
    }

    $("input[name^='items-'][name$='-qty']").change(function () {
        change_total_amount();
    });

    // change product and set unit_price and unit_gst
    $("select[name^='items-'][name$='-product']").change(function () {
        var product = this.value;
        let amt_tg = $(this).closest("tr").find("input[name^='items-'][name$='-unit_price']");
        let gst_tg = $(this).closest("tr").find("input[name^='items-'][name$='-unit_gst']");
        let delete_tg = $(this).closest("tr").find("a[class='delete-row']");

        let url = "{% url 'customer:product_by_id' 9876543210 %}";
        url = url.replace('9876543210', product);

        $.ajax({
          url: url,
          type: 'get',
          success:function(data) {
              // amt_tg.val(parseFloat(data.amount).toFixed(2).replace(/\.0+$/,''));
              amt_tg.val(data.amount);
              gst_tg.val(data.gst);

              if(data.addon_id != null){
                  var parent_found = false;
                  $("select[name^='items-'][name$='-product']").each(function() {
                      if ( Number($(this).val()) == data.addon_id ){
                        parent_found = true;
                      }
                  });
                  if(parent_found == false){
                    alert('You need to add "'+data.addon_description+'" product first then you can add "Add-On" product');
                    delete_tg.click();
                  }
              }

              var customer_id = $('#id_customer').val();
              let url = "{% url 'customer:cart_validation' '987654321' %}";
              url = url.replace('987654321', customer_id);

              let formData = new FormData();
              $("select[name^='items-'][name$='-product']:visible").each(function() {
                var id = $(this).val()
                if (id != ''){
                  formData.append('products',  id);
                }

              });

              var category = data.category;
              if (category == 'minutes' || category == 'feature') {

                formData.append('check_for',  'has-paid-plan');
                $.ajax({
                  method: "POST",
                  url: url,

                  data: formData,
                  dataType: 'json',
                  processData: false,
                  cache: false,
                  contentType: false,
                  success:function(data) {

                    if(data.paid_plan_found == false){
                      alert('You need to add Paid Plan product first then you can add '+category+' product.');
                      delete_tg.click();
                    }

                  }
                });

              }

              if (category == 'plan') {
                formData.append('check_for',  'has-more-plan-item');
                $.ajax({
                  method: "POST",
                  url: url,

                  data: formData,
                  dataType: 'json',
                  processData: false,
                  cache: false,
                  contentType: false,
                  success:function(data) {

                    if(data.has_more_plan_item == true){
                      alert('You can add only 1 Plan product.');
                      delete_tg.click();
                    }

                  }
                });
              }

              change_total_amount();
          }
        });

    });

</script>
{% endblock %}
