{% extends '_blank.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/listview.css' %}">
{% endblock stylesheets %}

{% block customstyle %}
  {{ block.super }}
{% endblock %}

{% block rawcontent %}
  {{ block.super }}

  <div class="container-md">
    <div class="form-container py-4 p-md-4">
      <div class="form_prefix">
        <span>
          <a href="#" class="btn p-0"
             data-toggle="tooltip" data-placement="right" title="Home">
            <i class="fas fa-2x fa-square"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="container-md">
    <div class="form-container p-md-4">
      <h1 class="py-4">
        Carts
      </h1>

      {% if object_list %}
      <table class="table table-hover table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col" class="d-none d-sm-table-cell">Cart No</th>
            <th scope="col" class="d-none d-sm-table-cell">Customer</th>
            <th scope="col" class="d-none d-sm-table-cell">Is Open</th>
            <th scope="col" class="">Date</th>
            <th scope="col" class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for post in object_list %}
          <tr class="row_{{ post.id }}" onclick="location.href='{% url 'customer:cart_edit' post.id %}'">
            <td class="text-nowrap d-none d-sm-table-cell"><code class="text-dark">{{ post.slug }}</code></td>
            <td class="text-nowrap d-none d-sm-table-cell"><code class="text-dark">{{ post.customer.name }}</code></td>
            <td class="text-nowrap d-none d-sm-table-cell"><code class="text-dark">{{ post.is_open }}</code></td>
            <td class="text-nowrap">{{ post.dtm_created }}</td>
            <td class="text-right">{{ post.total_amount | floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="lead">You have no Cart yet.</p>
      {% endif %}

      <div class="row mt-4">
        <div class="col-12 col-md text-md-right mt-4 my-md-0">
          <a href="{% url 'customer:cart_new' %}" class="btn btn-block btn-primary text-white py-2">
            <span>Create New Cart</span>
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock rawcontent %}
