{% extends '_qux_payments_list.html' %}
{% load static %}

{% block header_text %}Invoices{% endblock %}

{% block list_table %}
  {% if object_list %}
    <table class="table table-hover table-borderless table-striped">
      <thead>
      <tr>
        <th scope="col" class="d-none d-sm-table-cell">Invoice No</th>
        <th scope="col" class="">Date</th>
        <th scope="col" class="text-right">Amount</th>
        <th scope="col" class=""></th>
      </tr>
      </thead>
      <tbody>
      {% for post in object_list %}
        <tr class="row_{{ post.id }}" onclick="location.href='{% url 'customer:invoice_detail' post.slug %}'">
          <td data-th="Invoice" class="text-nowrap d-none d-sm-table-cell">
            {{ post.invoice_number }}
          </td>
          <td data-th="Date" class="text-nowrap">{{ post.invoice_date }}</td>
          <td data-th="Amount" class="text-right">{{ post.total_amount | floatformat:2 }}</td>
          <td data-th="Menu" class="text-right">
            <i class="fas fa-ellipsis-h-alt"></i>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no Invoice yet.</p>
  {% endif %}
{% endblock list_table %}

{% block createitem_url %}{% url 'customer:invoice_new' %}{% endblock %}

{% block createitem_cta %}Invoice{% endblock createitem_cta %}
