{% extends '_qux_payments_form.html' %}
{% load static qux quxform %}

{% block form_body %}
  {% if messages %}
    <div class="row">
      <div class="col">
        {% for m in messages %}
          <p class="lead">{{ m }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% include 'forms/_hfields.html' %}

    <legend>Products</legend>
    <table class="table">
      {{ items.management_form }}

      {% for form in items.forms %}

        {% if forloop.first %}
          <thead>
          <tr>
            {% for field in form.visible_fields %}
              <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr>
          </thead>
        {% endif %}
        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ items.prefix }}">
          {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </form>
{% endblock form_body %}

{% block customjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // $('#id_customer').select2(); // without ajax

      $('#id_customer').select2({
        ajax: {
          url: '{% url 'customer:customer-autocomplete' %}',
          dataType: 'json',
          processResults: function (data) {
            return {
              results: $.map(data, function (item) {
                return {id: item.id, text: item.name};
              })
            };
          }
        },
        minimumInputLength: 1
      });
    });

    $('document').ready(function () {
      $('.formset_row-{{ items.prefix }}').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ items.prefix }}'
      });

    });

    // change product and set amount and gst
    $("select[name^='items-'][name$='-product']").change(function () {
      let product = this.value;
      let amt_tg = $(this).closest("tr").find("input[name^='items-'][name$='-amount']");
      let gst_tg = $(this).closest("tr").find("input[name^='items-'][name$='-gst']");

      let url = "{% url 'customer:product_by_id' 9876543210 %}";
      url = url.replace('9876543210', product);
      $.ajax({
        url: url,
        type: 'get',
        success: function (data) {
          /*
           * @param data.gst
           */
          amt_tg.val(data.amount);
          gst_tg.val(data.gst);
        }
      });

    });
  </script>
{% endblock %}
