{% extends 'invoice/_invoice.html' %}
{% load static %}

{% block h1 %}Invoices{% endblock %}

{% block rawcontent %}
  {{ block.super }}

  <div class="container-md">
    <div class="form-container py-4 p-md-4">
      <div class="form_prefix">
        <span>
          <a href="#" class="btn p-0"
             data-toggle="tooltip" data-placement="right" title="Home">
            <i class="fas fa-2x fa-square"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="container-md">
    <div class="form-container p-md-4">
      <h1 class="py-4">
        Invoice
      </h1>
      <table class="table table-hover table-borderless table-sm">
        <thead>
          <tr>
            <th scope="col" class="d-none d-sm-table-cell">Invoice No</th>
            <th scope="col" class="">Date</th>
            <th scope="col" class="text-right">Amount</th>
            <th scope="col" class=""></th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
          {% for post in object_list %}
          <tr class="row_{{ post.id }}" onclick="location.href='{% url 'customer:invoice_detail' post.slug %}'">
            <td data-th="Invoice" class="text-nowrap d-none d-sm-table-cell">
              {{ post.invoice_number }}
            </td>
            <td data-th="Date" class="text-nowrap">{{ post.invoice_date }}</td>
            <td data-th="Amount" class="text-right">{{ post.total_amount | floatformat:2 }}</td>
            <td data-th="Menu" class="text-right">
              <i class="fas fa-ellipsis-h-alt"></i>
            </td>
          </tr>
          {% endfor %}
          {% elif user.username == 'vishal' %}
          <tr class="row_{{ post.id }}" onclick="location.href='{% url 'customer:invoice_detail' 1 %}';">
            <td data-th="Invoice" class="text-nowrap d-none d-sm-table-cell">
              inv_H5ABqNf12alupwXz
            </td>
            <td data-th="Date" class="text-nowrap">Feb 29, 2020</td>
            <td data-th="Amount" class="text-right">4,500.00</td>
            <td data-th="Menu" class="text-right">
              <i class="fas fa-ellipsis-h-alt"></i>
            </td>
          </tr>
          <tr class="row_{{ post.id }}" onclick="location.href='{% url 'customer:invoice_detail' 1 %}';">
            <td data-th="Invoice" class="text-nowrap d-none d-sm-table-cell">
              inv_H5ABqNf12alu4prX
            </td>
            <td data-th="Date" class="text-nowrap">Feb 29, 2020</td>
            <td data-th="Amount" class="text-right">4,500.00</td>
            <td data-th="Menu" class="text-right">
              <i class="fas fa-ellipsis-h-alt"></i>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      {% if user.is_staff or user.is_superuser %}
      <div class="row mt-4">
        <div class="col-12 col-md text-md-right mt-4 my-md-0">
          <a href="{% url 'customer:invoice_new' %}" class="btn btn-block btn-primary text-white py-2">
            <span>Create New Invoice</span>
          </a>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
{% endblock rawcontent %}
