{% extends 'forms/_form.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/qux-select2.css' %}">
{% endblock stylesheets %}

{% block form_title %}{{ form_title }}{% endblock %}

{% block form_body %}
{% if messages %}
    <div class="row">
      <div class="col">
        {% for m in messages %}
          <p class="lead">{{ m }}</p>
        {% endfor %}
      </div>
    </div>
{% endif %}
<form method="post">
{% csrf_token %}
  {% include 'forms/_hfields.html' %}

  <div class="row mt-4">
    <div class="col">
      <button type="submit" class="btn btn-primary btn-block py-2">
        {% if submit_btn_text %}
           {{ submit_btn_text }}
        {% else %}
           Submit
        {% endif %}
      </button>
    </div>
  </div>

</form>
{% endblock form_body %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/select2/select2.min.js' %}"></script>
{% endblock %}

{% block customjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // $('#id_primary_contact').select2(); // without ajax

      $('#id_primary_contact').select2({
        ajax: {
          url: '{% url 'customer:user-autocomplete' %}',
          dataType: 'json',
          processResults: function (data) {
            return {
              results: $.map(data, function (item) {
                return {id: item.id, text: item.email};
              }),
            };
          },
        },
        minimumInputLength: 1,
      });

      var user_id = $('#id_primary_contact').val();
      if(user_id != '' && user_id != undefined){
        change_address_list(user_id);
      }

    });

    $('#id_primary_contact').change(function () {
      var user_id = this.value;
      change_address_list(user_id);
    });

    function change_address_list(user_id){
      let url = "{% url 'customer:address_by_user' 9876543210 %}";
      url = url.replace('9876543210', user_id);

      $.ajax({
        url: url,
        type: 'get',
        success: function (data) {
          var $el = $("#id_billing_address");
          $el.empty(); // remove old options

          var values = data.data;
          values.forEach((item) => {
            $el.append($("<option></option>").attr("value", item.id).text(item.address));
          });

          var $el = $("#id_shipping_address");
          $el.empty(); // remove old options

          var values = data.data;
          values.forEach((item) => {
            $el.append($("<option></option>").attr("value", item.id).text(item.address));
          });

        },
      });
    }
  </script>
{% endblock %}
