{% extends '_qux_payments_list.html' %}
{% load static %}

{% block header_text %}Customers{% endblock %}

{% block list_table %}
  {% if object_list %}
    <div class="table-responsive">
      <table class="table table-hover qux-table table-listview">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">User</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <!-- Action -->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
          <tr id="object_{{ object.id }}" class="row_{{ object.id }}">
            <td class="align-middle">{{ object.name }}</td>
            <td class="align-middle">{{ object.primary_contact.username }}</td>
            <td class="align-middle">{{ object.phone }}</td>
            <td class="align-middle">{{ object.email }}</td>
            <td class="align-middle text-right">
              <a href="{% url 'customer:customer_edit' object.slug %}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>You have no Customers yet.</p>
  {% endif %}
{% endblock %}

{% block createitem_url %}{% url 'customer:customer_new' %}{% endblock %}

{% block createitem_cta %}Customer{% endblock %}
