{% extends '_qux_payments_list.html' %}
{% load static %}

{% block header_text %}Customers{% endblock %}

{% block list_table %}
  {% if object_list %}
    <table class="table table-hover table-borderless table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">User</th>
        <th scope="col">Phone</th>
        <th scope="col" class="d-none d-md-table-cell">Date Created</th>
        <th scope="col" class="text-right">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for post in object_list %}
        <tr class="row_{{ post.id }}">
          <td class="align-middle">{{ post.name }}</td>
          <td class="align-middle">{{ post.primary_contact.username }}</td>
          <td class="align-middle">{{ post.phone }}</td>
          <td class="align-middle d-none d-md-table-cell">{{ post.dtm_created }}</td>
          <td class="align-middle text-right">
            <a href="{% url 'customer:customer_edit' post.slug %}" class="btn btn-outline-secondary text-center">
            <span><i class="fas fa-fw fa-edit"></i>
              <span class="d-none d-md-inline">Edit</span>
            </span>
            </a>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no Customers yet.</p>
  {% endif %}
{% endblock %}

{% block createitem_url %}{% url 'customer:customer_new' %}{% endblock %}

{% block createitem_cta %}Customer{% endblock %}
