{% extends '_qux_payments_form.html' %}
{% load static %}

{% block customjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // $('#id_primary_contact').select2(); // without ajax

      let id_primary_contact = $('#id_primary_contact')
      id_primary_contact.select2({
        ajax: {
          url: '{% url 'customer:user-autocomplete' %}',
          dataType: 'json',
          processResults: function (data) {
            return {
              results: $.map(data, function (item) {
                return {id: item.id, text: item.email};
              }),
            };
          },
        },
        minimumInputLength: 1,
      });

      let user_id = id_primary_contact.val();
      if (user_id !== '' && user_id !== undefined) {
        change_address_list(user_id);
      }
    });

    $('#id_primary_contact').change(function () {
      let user_id = this.value;
      change_address_list(user_id);
    });

    function change_address_list(user_id) {
      let url = "{% url 'customer:user-details' 9876543210 %}";
      url = url.replace('9876543210', user_id);

      $.ajax({
        url: url,
        type: 'get',
        success: function (data) {
          /*
           * @param data.addresses
           * @param data.phone
           * @param data.email
           * */
          let $idBillAddress = $("#id_billing_address");
          // remove old options
          $idBillAddress.empty();

          let $idShipAddress = $("#id_shipping_address");
          // remove old options
          $idShipAddress.empty();

          let values = data.addresses;
          values.forEach((item) => {
            $idBillAddress.append($("<option></option>").attr("value", item.id).text(item.address));
            $idShipAddress.append($("<option></option>").attr("value", item.id).text(item.address));
          });

          if (data.phone) {
            $('#id_phone').val(data.phone);
          }

          if (data.email) {
            $('#id_email').val(data.email);
          }
        },
      });
    }
  </script>
{% endblock %}
