<div class="container-xl py-3 px-4 px-xl-0 d-none d-sm-block">
  <ul class="qux-subnav qux-payments">
    <li class="qux-subnav qux-payments">
      <a href="{% url 'customer:payment_home' %}">Payments</a>
    </li>
    <li class="qux-subnav qux-payments">
      <a href="{% url 'customer:cart_home' %}">Carts</a>
    </li>
    <li class="qux-subnav qux-payments">
      <a href="{% url 'customer:invoice_home' %}">Invoices</a>
    </li>
    <li class="qux-subnav qux-payments">
      <a href="{% url 'customer:customer_home' %}">Customers</a>
    </li>
    <li class="qux-subnav qux-payments">
      <a href="{% url 'customer:address_home' %}">Addresses</a>
    </li>
  </ul>
</div>
