{% extends '_qux_payments.html' %}
{% load static %}

{% block qux_payments_content %}
  {% block list_table %}
  {% endblock list_table %}

  <div class="row mt-4">
    <div class="col-12 col-md mt-4 my-md-0">
      <a href="{% block createitem_url %}{% endblock createitem_url %}"
         class="btn btn-primary text-white py-2">
        <i class="fas fa-plus"></i>
        {% block createitem_cta %}{% endblock createitem_cta %}
      </a>
    </div>
  </div>
{% endblock qux_payments_content %}
