<div class="dropdown-header" style="min-width: 200px;">
  <a href="{% url 'customer:home' %}">Qux Payments</a>
</div>
<div class="dropdown-divider"></div>
<div class="dropdown-item">
  <a href="{% url 'customer:customer_home' %}">Customers</a>
</div>
<div class="dropdown-item">
  <a href="{% url 'customer:address_home' %}">Addresses</a>
</div>
<div class="dropdown-item">
  <a href="{% url 'customer:cart_home' %}">Carts</a>
</div>
<div class="dropdown-item">
  <a href="{% url 'customer:invoice_home' %}">Invoices</a>
</div>
<div class="dropdown-item">
  <a href="{% url 'customer:payment_home' %}">Payments</a>
</div>
