{% extends '_blank.html' %}
{% load static qux quxform %}

{% block rawcontent %}
<div class="container-xl my-4">
  <div id="cart_list" class="">

    <h1 class="py-4">
      Home
    </h1>

    <div class="qux-toc-item">
      <ul class="fa-ul collapse show" id="collapse_log">
        <li class="qux-toc-subitem">
          <a href="{% url 'customer:address_home' %}">Address</a>
        </li>
        <li class="qux-toc-subitem">
          <a href="{% url 'customer:customer_home' %}">Customer</a>
        </li>
        <li class="qux-toc-subitem">
          <a href="{% url 'customer:cart_home' %}">Cart</a>
        </li>
        <li class="qux-toc-subitem">
          <a href="{% url 'customer:invoice_home' %}">Invoices</a>
        </li>
        <li class="qux-toc-subitem">
          <a href="{% url 'customer:payment_home' %}">Payment</a>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock rawcontent %}

{% block customjs %}
  <script>

  </script>
{% endblock %}
