{% extends 'forms/_form.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/qux-select2.css' %}">
{% endblock stylesheets %}

{% block form_title %}{{ form_title }}{% endblock %}

{% block form_body %}
{% if messages %}
    <div class="row">
      <div class="col">
        {% for m in messages %}
          <p class="lead">{{ m }}</p>
        {% endfor %}
      </div>
    </div>
{% endif %}
<form {% if submit_btn_text == "Update" %}onsubmit="return confirm('Do you really want to update payment data?');"{% endif %}
  method="post">
  {% csrf_token %}

    {% include 'forms/_hfields.html' %}

      <div class="row mt-4">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block">
              {% if submit_btn_text %}
                 {{ submit_btn_text }}
              {% else %}
                 Submit
              {% endif %}
          </button>
        </div>
      </div>
</form>
{% endblock form_body %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/select2/select2.min.js' %}"></script>
{% endblock %}

{% block customjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // $('#id_customer').select2(); // without ajax

      $('#id_customer').select2({
          ajax: {
              url: '{% url 'customer:customer-autocomplete' %}',
              dataType: 'json',
              processResults: function (data) {
                  return {
                      results: $.map(data, function (item) {
                          return {id: item.id, text: item.name};
                      })
                  };
              }
          },
          minimumInputLength: 1
      });
    });


    function change_cart_list(customer, last=false){
        let url = "{% url 'customer:open_cart_by_customer' 9876543210 %}";
        url = url.replace('9876543210', customer);
        $.ajax({
          url: url,
          type: 'get',
          success:function(data) {
            var $el = $("#id_cart");
            $el.empty(); // remove old options

            var values = data.data;
            values.forEach((item) => {
                $el.append($("<option></option>").attr("value", item.id).text(item.name));
            });

          }
        });
    }


    $('#id_customer').change(function () {
        var customer = this.value;
        change_cart_list(customer);
    });
  </script>
{% endblock %}
