{% extends '_qux_payments_list.html' %}
{% load static %}

{% block header_text %}Payment{% endblock %}

{% block list_table %}
  {% if object_list %}
    <table class="table table-hover table-borderless table-striped">
      <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Invoice</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Mode</th>
        <th scope="col">Source</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-right">Amount</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-right">Action</th>
      </tr>
      </thead>
      <tbody>

      {% for post in object_list %}
        <tr class="row_{{ post.id }}">
          <td class="text-truncate">{{ post.invoice.customer }}</td>
          <td class=""><code>{{ post.invoice.invoice_number }}</code></td>
          <td class="text-nowrap text-nowrap">{{ post.payment_date }}</td>
          <td class="text-truncate">{{ post.payment_mode }}</td>
          <td class="">{{ post.payment_source }}</td>
          <td class="text-center">
            {% if post.is_processed %}Paid{% else %}<span class="text-danger">Unpaid</span>{% endif %}
          </td>
          <td class="text-right">{{ post.paid_amount | floatformat:2 }}</td>
          <td class="d-none d-md-table-cell text-nowrap">{{ post.dtm_created }}</td>
          <td class="text-right">
            <a href="{% url 'customer:payment_edit' post.slug %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no payments yet.</p>
  {% endif %}
{% endblock list_table %}

{% block createitem_url %}{% url 'customer:payment_new' %}{% endblock %}

{% block createitem_cta %}Payment{% endblock createitem_cta %}
