{% extends '_customer.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/listview.css' %}">
{% endblock stylesheets %}

{% block customstyle %}
  {{ block.super }}
{% endblock %}

{% block rawcontent %}
  {{ block.super }}

  <div class="container-md">
    <div class="form-container py-4 p-md-4">
      <div class="form_prefix">
        <span>
          <a href="#" class="btn p-0"
             data-toggle="tooltip" data-placement="right" title="Home">
            <i class="fas fa-2x fa-square"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="container-md">
    <div class="form-container p-md-4">
      <h1 class="py-4">
        Payment
      </h1>

      {% if object_list %}
      <table class="table table-hover table-borderless table-striped">
        <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Invoice </th>
          <th scope="col">Payment Date</th>
          <th scope="col">Mode</th>
          <th scope="col">Source</th>
          <th scope="col">Status</th>
          <th scope="col" class="text-right">Amount</th>
          <th scope="col" class="text-center">Date</th>
          <th scope="col" class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for post in object_list %}
        <tr class="row_{{post.id}}">
          <td class="text-truncate">{{ post.invoice.customer }}</td>
	  <td class=""><code>{{ post.invoice.invoice_number }}</code></td>
          <td class="text-nowrap text-nowrap">{{ post.payment_date }}</td>
          <td class="text-truncate">{{ post.payment_mode }}</td>
          <td class="">{{ post.payment_source }}</td>
          <td class="text-center">
            {% if post.is_processed %}Paid{% else %}<span class="text-danger">Unpaid</span>{% endif %}
          </td>
          <td class="text-right">{{ post.paid_amount | floatformat:2 }}</td>
          <td class="d-none d-md-table-cell text-nowrap">{{ post.dtm_created }}</td>
          <td class="text-right">
            <a href="{% url 'customer:payment_edit' post.slug %}">Edit</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="lead">You have no payments yet.</p>
      {% endif %}

      <div class="row mt-4">
        <div class="col-12 col-md text-md-right mt-4 my-md-0">
          <a href="{% url 'customer:payment_new' %}" class="btn btn-block btn-primary text-white py-2">
            <span>Create New Payment</span>
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock rawcontent %}
