{% extends '_qux_payments_form.html' %}
{% load static %}

{% block customjs %}
<script type="text/javascript">
$(document).ready(function () {
  // !ajax
  // $('#id_customer').select2();
  $('#id_customer').select2({
    ajax: {
      url: '{% url 'customer:customer-autocomplete' %}',
      dataType: 'json',
      processResults: function (data) {
        return {
          results: $.map(data, function (item) {
            return {id: item.id, text: item.name};
          })
        };
      }
    },
    minimumInputLength: 1
  });
});

function change_cart_list(customer, last = false) {
  let url = "{% url 'customer:open_cart_by_customer' 9876543210 %}";
  url = url.replace('9876543210', customer);
  $.ajax({
    url: url,
    type: 'get',
    success: function (data) {
      let $el = $("#id_cart");
      // remove old options
      $el.empty();

      let values = data.data;
      values.forEach((item) => {
        $el.append($("<option></option>").attr("value", item.id).text(item.name));
      });

    }
  });
}

$('#id_customer').change(function () {
  let customer = this.value;
  change_cart_list(customer);
});
</script>
{% endblock %}
