{% extends '_qux_payments_list.html' %}
{% load static %}

{% block header_text %}Addresses{% endblock %}

{% block list_table %}
  {% if object_list %}
    {% csrf_token %}
    <table class="table table-hover table-borderless qux-table table-listview">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Pincode</th>
        <th scope="col" class="d-none d-md-table-cell">Date Created</th>
        <th scope="col" class="text-right">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for post in object_list %}
        <tr class="row_{{ post.id }}">
          <td class="align-middle">{{ post.user.username }}</td>
          <td class="align-middle">{{ post.address }}</td>
          <td class="align-middle">{{ post.city }}</td>
          <td class="align-middle">{{ post.state }}</td>
          <td class="align-middle">{{ post.pincode }}</td>
          <td class="align-middle d-none d-md-table-cell">{{ post.dtm_created }}</td>
          <td class="align-middle text-right">
            <a href="{% url 'customer:address_edit' post.id %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no Address yet.</p>
  {% endif %}
{% endblock %}

{% block createitem_url %}{% url 'customer:address_new' %}{% endblock %}

{% block createitem_cta %}Address{% endblock createitem_cta %}
