{% extends '_qux_payments_form.html' %}
{% load static %}

{% block customjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // $('#id_user').select2(); // without ajax

      $('#id_user').select2({
        ajax: {
          url: '{% url 'customer:user-autocomplete' %}',
          dataType: 'json',
          processResults: function (data) {
            return {
              results: $.map(data, function (item) {
                return {id: item.id, text: item.email};
              })
            };
          }
        },
        minimumInputLength: 1
      });
    });
  </script>
{% endblock %}
